.standByContainer {
  position: absolute;
  z-index: 1;
  left: 0;
}

.standBySecondMainDiv {
  height: 300px;
  width: 582px;
  background-color: #dfdfdf;
  padding-left: 5px;
}

.standByCloseButton {
  width: 25px;
  height: 25px;
  background-color: #b0b4b1;
  color: #fff;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 7px;
}

.standByButtonTopPad {
  padding-top: 30px;
}
.standByActivateButton {
  width: 40%;
  padding: 5px;
  flex: 0 0 auto;
  background-color: #b0b4b1;
}

.standByMainText {
  font-size: 60px;
}

.standBySecondaryText {
  font-size: 15px;
  padding-top: 25px;
}
